<form class="{{class}} form" data-form="register">
    <div class="{{class}}__title form__title">Регистрация</div>
    <div class="{{class}}__error form__mess"></div>
    <div class="{{class}}__body form__body">
        <input class="{{class}}__input form__input" type="text" name="{{login}}" placeholder="Введите ваш никнейм" required/>
        <input class="{{class}}__input form__input" type="text" name="{{email}}" placeholder="Введите ваш email" required/>
        <input class="{{class}}__input form__input" type="text" name="{{password}}" placeholder="Введите ваш пароль" required/>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>