<form class="{{class}} form">
    <div class="{{class}}__error form__mess"></div>
    <div class="{{class}}__control-elems control-elems">
        <textarea class="{{class}}__input form__input" type="text" name="message" data-event="added-message" placeholder="Введите сообщение"></textarea>
        <button class="{{class}}__button form__button added-file__btn" title="Загрузить файл">📁</button>
        <input type="file" name="sendfile" class="{{class}}__file form__file" data-event="added-file" style="display: none;" />
    </div>
</form>